/venv/*
/__pycache__/*
.DS_Store
/app/codec_files/*
app/codec_files/*
*.txt
app/static/react-app/node_modules/*
/app/static/react-app/node_modules/*
/virtual/*
virtual/*
*.pyc
Codec/*
/dev/*
/master/*
dev/*
master/*
*.csv
/webflow*/
app/static/react-app/dist/bundle.js
filesize_time.csv
*.log
*.csv
filesize_time.csv
instance/app.log
app/static/react-app/public/frontend_textfiles/*
*.log
instance/app.log
app/static/new-version/public/*
