<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <script src="jquery-3.5.1.min.js"></script>
  <meta charset="utf-8">
  <title>Kern Systems</title>
  <!-- <script src="jquery-3.5.1.min.js"></script> -->
  <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
</head>
<script>
  function callCLI(e) {
    // post to the Flask endpoint that makes a call to the CLI
    // event.preventDefault();
    // $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    // should not change the url because of prevent default
    e.preventDefault();
    console.log(e);
    alert(e);
    document.getElementById("changedbyCli").innerHTML = "changing";
    var input = document.getElementById('word1').value;
    alert(input);
    // alert('hello there');
    // var cliWord = "";

    var data = {
      "input": document.getElementById('word1').value,
    };
    $.ajax({
      type: 'POST',
      contentType: 'application/json',
      url: '/call_cli',
      dataType: 'json',
      data: JSON.stringify(data),
      success: function (result) {
        callback(result);
      },
      error: function (result) {
        callback("failure");
      }
    });

    function callback(data) {
      console.log(data);
      alert(data);
      document.getElementById("changedbyCli").innerHTML = data["word"];
    }
  }

  function parseFile(input) {

    document.getElementById('output').src = window.URL.createObjectURL(input.files[0]);
    let file = input.files[0];
    console.log(file);
    const options = {
      method: "POST",
      body: file,
      // contentType: 'enctype=multipart/form-data',
    }
    console.log(options);
    // delete options.headers['Content-Type'];

    fetch('/upload_file', options).then(
      function (response) {
        if (response.ok) {
          // a new promise that resolves when text loads
          alert("HTTP-WORKED: " + response.status);
          alert(response);
        } else {
          alert("HTTP-Error: " + response.status);
        }
      }
    );
    // .then(
    //   // after response.text() resolves
    //   // alerts the DNA representation
    //   text => alert(text)
    // );
  }
</script>

<body>
  <header>
    <h1 class="logo">Kern Systems</h1>
  </header>
  <div class="inputbox">
    <h1 class="dna_header">String - DNA Converter</h1>
    <!-- <form method="post" onsubmit="callCLI()"> -->
    <form onsubmit="callCLI(event)">
      <textarea id="word1" name="word" placeholder="Type your string here... e.g. hello"></textarea>
      <input type="submit" name="submit_button_str" value="String to DNA encoding">
    </form>
    <form method="post">
      <textarea id="word2" name="word"
        placeholder="Type your DNA here... e.g. TCACA,TCAGC,TAGAG,TAGAG,TAGTC"></textarea>
      <input type="submit" name="submit_button_dna" value="DNA encoding to string">
    </form>
  </div>
  <button type="button" onclick="callCLI()">Test CLI</button>
  <p id="changedbyCli">A Paragraph to be changed by calling CLI.</p>
  <input id="image-file" type="file" name="picture" onchange="parseFile(this)">
  <img id="output" src="" width="100" height="100">

  {% block content %}
  {% endblock %}

</body>

</html>